<HTML>
<BODY>
<font face="Courier New, Courier, monospace">
    <TABLE cellpadding="5" cellspacing="0" width="100%">
        <TR>
            <TD colspan="2"><font face="Helvetica" size="+2" color="#004b34"><strong>{header} {code_name}</strong></font></TD>
        </TR>
        <TR>
            <TD>&nbsp;</TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2">
                <div align="right"><IMG src="{image}" border="0"/></div>
            </TD>
        </TR>
        {mail_content}
        <TR>
            <TD>&nbsp;</TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2"><font face="Helvetica" color="#004b34">{footer}</font></TD>
        </TR>
    </TABLE>
</font>
</BODY>
</HTML>
