<HTML>
<BODY>
<font face="Courier New, Courier, monospace">
    <TABLE cellpadding="5" cellspacing="0" width="100%">
        <TR>
            <TD colspan="2"><font face="Helvetica" size="+2" color="#004b34"><strong>Transfer Antar Bank melalui
                {via_atm} </strong></font></TD>
        </TR>
        <TR>
            <TD>&nbsp;</TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2">
                <div align="right"><IMG src="{image}" border="0"/></div>
            </TD>
        </TR>
        <TR>
            <TD>Status:</TD>
            <TD>{status}</TD>
        </TR>
        <TR>
            <TD>Nomor Transaksi:</TD>
            <TD>{trans_ref}</TD>
        </TR>
        <TR>
            <TD>Nomor Struk:</TD>
            <TD>{struck}</TD>
        </TR>
        <TR>
            <TD>Terminal:</TD>
            <TD>{terminal}</TD>
        </TR>
        <TR>
            <TD>Tanggal/Jam:</TD>
            <TD>{date_time}</TD>
        </TR>
        <TR>
            <TD>Pengirim:</TD>
            <TD>{name}</TD>
        </TR>
        <TR>
            <TD>Dari Rekening:</TD>
            <TD>{account}</TD>
        </TR>
        <TR>
            <TD>Ke Rekening:</TD>
            <TD>{payment_id}</TD>
        </TR>
        <TR>
            <TD>Bank Penerima:</TD>
            <TD>{code_name}</TD>
        </TR>
        <TR>
            <TD>Penerima:</TD>
            <TD>{beneficiary_name}</TD>
        </TR>
        <TR>
            <TD>Jumlah:</TD>
            <TD>{amount}</TD>
        </TR>
        <TR>
            <TD>Deskripsi:</TD>
            <TD>{description}</TD>
        </TR>
        <TR>
            <TD>&nbsp;</TD>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD colspan="2"><font face="Helvetica" size="+1" color="#004b34">Terima kasih telah menggunakan layanan BSM
                Mobile Banking dari Bank</font></TD>
        </TR>
        <TR>
            <TD colspan="2"><font face="Helvetica" size="+1" color="#004b34">Syariah Mandiri. Semoga layanan kami
                mendatangkan manfaat bagi anda.</font></TD>
        </TR>
    </TABLE>
</font>
</BODY>
</HTML>
