<HTML>
<BODY>
<font face="Courier New, Courier, monospace">
<TABLE cellpadding="5" cellspacing="0" width="100%">
<TR>
  <TD colspan="2"><font face="Helvetica" size="+2" color="#004b34"><strong>{status}</strong></font></TD>
  </TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD colspan="2"><div align="right"><IMG src="{image}" border="0"/></div></TD>
  </TR>
<TR>
	<TD>Status:</TD>
	<TD>{status}</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
	<TD>Nomor Transaksi:</TD>
	<TD>{trans_ref}</TD>
</TR>
<TR>
	<TD>Tanggal Transaksi:</TD>
	<TD>{date_time}</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
	<TD>Nomor Struk:</TD>
	<TD>{struck}</TD>
</TR>
<TR>
	<TD>Terminal:</TD>
	<TD>{terminal}</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
	<TD>Nomor Registrasi:</TD>
	<TD>{regist_no}</TD>
</TR>
<TR>
	<TD>Nomor Pasti Umrah:</TD>
	<TD>{pasti_umrah_no}</TD>
</TR>
<TR>
	<TD>Nama Jamaah:</TD>
	<TD>{name}</TD>
</TR>
<TR>
	<TD>Asuransi Penyelenggara:</TD>
	<TD>{asuransi_name}</TD>
</TR>
<TR>
	<TD>Jumlah Setoran:</TD>
	<TD>Rp. {amount}</TD>
</TR>
<TR>
	<TD>Biaya Asuransi:</TD>
	<TD>Rp. {asuransi_fee}</TD>
</TR>
<TR>
	<TD>Saldo Setoran:</TD>
	<TD>Rp. {saldo}</TD>
</TR>
<TR>
	<TD>No. Referensi:</TD>
	<TD>{reff_no}</TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD colspan="2" align="center"><font face="Helvetica" size="+1" color="#004b34">Terima kasih telah menggunakan layanan BSM Mobile Banking dari Bank Syariah Mandiri.</font></TD>
</TR>
<TR>
  <TD colspan="2" align="center"><font face="Helvetica" size="+1" color="#004b34">Semoga layanan kami mendatangkan manfaat bagi anda.</font></TD>
</TR>
</TABLE>
</font>
</BODY>
</HTML>
